exportPattern('MAI')
import('caret')
import('tidyverse')
import('parallel')
import('doParallel')
import('pcaMethods')
import('future.apply')
import('e1071')
importFrom('missForest', 'missForest')
importFrom('future', 'plan', 'multisession','sequential')
importFrom("stats", "aggregate", "dist", "median", "na.omit", "pnorm",
           "predict", "quantile", "sd")
importFrom("utils", "combn")
